

<main>
  @if(products.length == 0){
  <app-title title="You do not have any product here!. Add some products to make a big deal :P"></app-title>
  <app-linked-button [item]="redirect"></app-linked-button>
  }@else {
    <ul>
      @for (product of products; track product.id) {
        <app-list item="{{product.name}}"></app-list>
        <app-list><app-paragraph [paragraph]="'Price: '"></app-paragraph></app-list>
        <app-list item="{{product.price}}"></app-list>
        <app-list item="{{product.libraryType}}"></app-list>
      }
    </ul>


    <app-label name="Presupuesto: ">
      <input type="number" placeholder="120000" [(ngModel)]="budget" />
    </app-label>
    <button (click)="emitCartItems()">Conoce el precio!</button>
  }

  <br>

  @if(budgetResponse != null ){
    <app-title title="You can buy this products with your budget!"></app-title>
    @for (result of budgetResponse; track $index) {
      <app-list item="{{result.name}}"></app-list>
      <app-list item="{{result.price}}"></app-list>
      <app-list item="{{result.libraryType}}"></app-list>
    }
  }@else {
    <app-title title="You can not buy any product with your budget! D:"></app-title>
  }
</main>
