

<main class="main">
  @if(products.length == 0){
  <app-title title="You do not have any product here!. Add some products to make a big deal :P"></app-title>
  <app-linked-button [item]="redirect"></app-linked-button>
  }@else {
    <app-label name="Type your budget here" class=""></app-label>
    <input type="number" placeholder="120000" [(ngModel)]="budget" class="main__input"/>
    <button (click)="emitCartItems()" class="main__button">Know the price!</button>
    <ul class="main__ul">
      @for (product of products; track product.id) {
        <div class="main__container">
          <img src="{{product.photo.url}}" alt="{{product.photo.alt}}" class="main__img">
          <h3 class="main__h3">{{product.name}}</h3>
          <p class="main__p">${{product.price}}</p>
          <p class="main__p">amount: {{product.stock}}</p>
          <p class="main__p">{{product.libraryType}}</p>
        </div>
      }
    </ul>
  }

  <br>

  @if(budgetResponse != null ){
    <app-title title="You can buy this products with your budget!"></app-title>
    <ul class="main__ul">
      @for (result of budgetResponse; track $index) {
        <div class="main__container main__container--no-img">
          <p class="main__p">{{result.name}}</p>
          <p class="main__p">{{result.price}}</p>
          <p class="main__p">{{result.libraryType}}</p>
        </div>
      }
    </ul>
  }@else {
    <app-title title="You can not buy any product with your budget! D:"></app-title>
  }
</main>
