<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
  <app-title title="Buy Product"></app-title>

    <app-label name="name" class="form__label"></app-label>
    <app-input type="text"  formControlName="name" class="form__input"></app-input>

    <app-label name="price" class="form__label"></app-label>
    <app-input type="number" placeholder="price" formControlName="price" class="form__input"></app-input>


    <app-label name="stock" class="form__label"></app-label>
    <app-input type="number" placeholder="stock" formControlName="stock" class="form__input"></app-input>


    <app-label name="type" class="form__label"></app-label>
    <select formControlName="libraryType" class="form__select">
      <option value="0">Book</option>
      <option value="1">Novel</option>
    </select>
  @if(form.valid){
    <button type="submit" class="form__button">Login</button>
  }@else{
    <button type="submit" class="form__button " [disabled]="!form.valid">Purchase</button>
  }
</form>
