

<main>
  @if(products.length == 0){
  <h1>You have your cart empty! Let's add some items!</h1>
  <app-linked-button [item]="redirect"></app-linked-button>
  }@else {
    <ul>
      @for (product of products; track product.id) {
        <app-list item="{{product.name}}"></app-list>
        <app-list><app-paragraph [paragraph]="'Price: '"></app-paragraph></app-list>
        <app-list item="{{updateItemPrice(getCartItemAmount(product) ,product.price.toString())}}"></app-list>
        <label>{{ getCartItemAmount(product) }}</label>
        <button (click)="increaseAmount(product)">+1</button>
        <button [disabled]="deteleDisableButton(product)" (click)="decreaseAmount(product)">-1</button>
      }
    </ul>
    <button (click)="emitCartItems()">Comprar!</button>
  }

  <br>

  @if(managerProductResponse != null ){
    @for (result of managerProductResponse.products; track $index) {
      <app-list item="{{result.name}}"></app-list>
      <app-list item="{{result.price}}"></app-list>
      <app-list item="{{result.type}}"></app-list>
      <app-list item="{{managerProductResponse.totalAmount}}"></app-list>
      <app-list item="{{managerProductResponse.totalWithDiscount}}"></app-list>
    }
  }
</main>
