
<footer>
  <div class="container">
    <app-paragraph [paragraph]="'Armando Sanmartin'"></app-paragraph>
    <app-paragraph [paragraph]="'Thanks for reading!'">Thanks for reading!</app-paragraph>
  </div>
  <div class="container">
    <ul>
      @for (item of linkedLogo; track $index) {
        <li><app-linked-logo [linkedLogo]="item"></app-linked-logo></li>
      }
    </ul>
  </div>
  <app-paragraph [paragraph]="'Copyright © 2024 Armando Sanmartin All rights reserved.'">Copyright © 2024 Armando Sanmartin All rights reserved.</app-paragraph>
</footer>
